html {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
* {
	box-sizing: inherit; -webkit-box-sizing: inherit; -moz-box-sizing: inherit;
}
*::before {
	box-sizing: inherit; -webkit-box-sizing: inherit; -moz-box-sizing: inherit;
}
*::after {
	box-sizing: inherit; -webkit-box-sizing: inherit; -moz-box-sizing: inherit;
}
