/* file.css */
* {margin: 0; padding: 0;}

 #container{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
 }

/* NAVIGATION */
 #nav{
  height: 30px;
  padding: 5px;
 }


/* TABS */
 #tabs{
  position: absolute;
  top: 30px; left: 0; right: 0;
  height: 40px;
  overflow: hidden;
 }
 #tabs li{
  float: left;
  min-width: 8em;
  list-style-type: none;
  border: 1px solid black;
  border-bottom: none;
  text-align: center;
  padding: 5px 10px;
  margin: 11px 5px 0 5px;
 }
 #tabs li:hover{
  background-color: lightgrey;
  cursor: pointer;
 }

/* OUTPUT */
 #output{
  position: absolute;
  top: 70px; bottom: 0; left: 0; right: 0;
  border: 1px solid black;
 }

/* short-links */
 #short-links{
  position: absolute;
  top: 0; left: 5px; right: 5px;
  height: 25px;
 }

 #short-links li{
  float: left;
  list-style-type: none;
  padding: 2px 5px;
  margin: 2px; 
 }

/* PATH */
#path{
  position: absolute;
  top: 5px; right: 5px; left: calc(30% + 2px);
  height: 18px;
}

/* TREE */
 #tree{
  position: absolute;
  top: 25px; bottom: 5px; left: 5px; right: calc(70% + 2px);
  border: 1px solid black;
  overflow: auto;
 }
 #tree li{
  list-style-type: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
 }
  #tree li.selected > span{
    font-weight: bold;
  }

  /* expanded-collapsed */
  #tree li > i:nth-child(1){
    display: inline-block;
  }
  #tree li > i:nth-child(2){
    display: none;
  }
  #tree li.expanded > i:nth-child(1){
    display: none;
  }
  #tree li.expanded > i:nth-child(2){
    display: inline-block;
  }

 #tree li li{
  margin-left: 1em;
 }
 #tree li .material-icons{
  float: left;
  color: rgba(40,40,40,0.8);
  cursor: default;
}
 #tree li .material-icons:hover{
  color: rgba(30,30,30,0.9);
 }
 #tree li span:hover{
  background-color: rgba(200,200,200,0.5);
 }

/* LIST */
 #list{
  position: absolute;
  top: 25px; bottom: 5px; right: 5px; left: calc(30% + 2px);
  border: 1px solid black;
  overflow: hidden;
 }

#list table{
  table-layout: fixed; /* Фиксированная ширина ячеек */
  width: 100%; /* Ширина таблицы */
}
#list table:nth-child{
  overflow: auto;
}
/*#list .col1 { width: 40%; }*/
#list .col2 { width: 4em; }
#list .col3 { width: 7em; }
#list .col4 { width: 10em; }
#list .col5 { width: 10em; }

#list table, #list table td, #list table th{
  border: 1px solid transparent;
  border-spacing: 0;
  border-collapse: collapse;
}
#list thead th{
  border-color: grey;
}
#list tbody td{
  padding: 2px 10px;
}
#list tbody td:nth-child(3){
  text-align: right;
}
#list tbody td:nth-child(4), #list tbody td:nth-child(5){
  text-align: center;
}

#list tbody tr:hover{
  background-color: lightgrey;
}

#list td .material-icons{
  float: left;
  margin-right: 5px;
}

#list tr.selected{
  background-color: lightblue;
}