/* file.css */
* {
    margin: 0; padding: 0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
  }

 #container{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
 }

/* NAVIGATION */
 #nav{
  height: 30px;
  padding: 5px;
 }


/* TABS */
 #tabs{
  position: absolute;
  top: 30px; left: 0; right: 0;
  height: 40px;
  /*overflow: hidden;*/
  z-index: 1;
 }
 #tabs li{
  float: left;
  min-width: 8em;
  list-style-type: none;
  border: 1px solid black;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
  padding: 5px 10px;
  margin: 11px 5px 0 5px;
  background-color: white;
  transition: background-color 0.1s;
 }
 #tabs li.selected{
  /*background-color: lightblue;*/
  padding-bottom: 6px;
  padding-top: 8px;
  margin-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
 }
 #tabs li:hover{
  background-color: lightgrey;
  cursor: pointer;
 }

/* OUTPUT */
 #output{
  position: absolute;
  top: 70px; bottom: 0; left: 0; right: 0;
  border: 1px solid black;
 }

/* short-links */
 #short-links{
  position: absolute;
  top: 0; left: 5px; right: 5px;
  height: 25px;
 }

 #short-links li{
  float: left;
  list-style-type: none;
  padding: 2px 5px;
  margin: 2px; 
 }

/* PATH */
#path{
  position: absolute;
  top: 5px; right: 5px; left: calc(30% + 4px);
  height: 18px;
}

/* TREE */
 #tree{
  position: absolute;
  top: 25px; bottom: 5px; left: 5px; width: calc(30% - 10px);
  border: 1px solid black;
  overflow: auto;
 }
 #tree li{
  list-style-type: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
  padding: 0.1em;
  white-space: nowrap;
 }
  #tree li span{
    padding: 0.1em; 
  }
  #tree li.selected > span{
    background-color: lightblue;
  }

  /* expanded-collapsed */

 #tree li li{
  margin-left: 1em;
 }

#tree li i {
  height: 16px; width: 16px;
  float: left;
  margin-right: 1px;
  display: inline-block;
  cursor: default;
}

#tree li i {
  background: url(/assets/ui-icons_454545_256x240.png) 0px -97px;
} 
#tree li.expanded > i {
  background: url(/assets/ui-icons_454545_256x240.png) -17px -97px;
} 

 #tree li span{
  transition: background-color 0.1s;
 }
 #tree li span:hover{
  background-color: lightgrey /*rgba(200,200,200,0.5)*/;
 }

/* LIST */
 #list{
  position: absolute;
  top: 25px; bottom: 5px; right: 5px; width: calc(70% - 10px);
  border: 1px solid black;
  /*overflow: hidden;*/
 }

#list table{
  table-layout: fixed; /* Фиксированная ширина ячеек */
  width: 100%; /* Ширина таблицы */
}

/*#list .col1 { width: 40%; }*/
#list .col2 { width: 4em; }
#list .col3 { width: 7em; }
#list .col4 { width: 11em; }
#list .col5 { width: 11em; }

#list table td, #list table th{
  border: 1px solid transparent;
  border-right: none;
  border-top: none;
}
#list table th:first-child{
  border-left: none; 
}
#list table, #list table td, #list table th{
  border-spacing: 0;
  border-collapse: collapse;
}


#list tr{
  cursor: default;
}
#list tr.selected{
  background-color: lightblue;
}
#list thead th{
  border-color: grey;
  height: 2em;
  position: relative;
}
#list thead th span{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 10px;
    cursor: ew-resize;
}
#list tbody td{
  padding: 0.3em;
  white-space: nowrap;
}
#list td:first-child{
  overflow: hidden;
}
#list tbody td:nth-child(3){
  text-align: right;
}
#list tbody td:nth-child(4), #list tbody td:nth-child(5){
  text-align: center;
}

#list tbody tr{
  transition: background-color 0.1s;
}
#list tbody tr:hover{
  background-color: lightgrey;
}

#list > div{
  overflow: hidden;
  position: relative;
  height: calc(100% - 2em);
}

#list tbody i{
  margin: 1px 0.2em;
  height: 16px; width: 16px;
  float: left;
  display: inline-block;
}
#list tbody .up i{
  background: url(/assets/ui-icons_454545_256x240.png) 0px -49px;
}
#list tbody .folder i{
  background: url(/assets/ui-icons_454545_256x240.png) 0px -97px;
}
#list tbody .folder.opening i{
  background: url(/assets/ui-icons_454545_256x240.png) -17px -97px;
}

#list tbody .file i{
  background: url(/assets/ui-icons_454545_256x240.png) -33px -97px;
}


#list th i {
  height: 16px; width: 16px;
  float: right;
  margin-right: 10px;
  display: inline-block;
}
#list th.asc i{
  background: url(/assets/ui-icons_454545_256x240.png) -65px -17px;
}
#list th.desc i{
  background: url(/assets/ui-icons_454545_256x240.png) 0 -16px;
}

 #tree td .material-icons:hover{
  color: rgba(30,30,30,0.9);
 }

 #tree-list-splitter{
  position: absolute;
  top: 25px; bottom: 5px; left: calc(30% - 5px); width: 10px; 
  cursor: ew-resize;
  z-index: 500;
 }